$tituloPhone: 3.2rem;
$subtPhone: 2rem;
$tablet: 768px;
$desktop: 1024px;
$secondColor: #17262b;
$thirdColor: #05b8ff;
$colorWhite: #d3f0ff;
$colorBlue: #3ab2e2;
$fontDesktop: 1.5rem;
$subtitleDesktop: 2.5rem;
$presentacionDesktop: 2.1rem;
$textDesktop: 1.3rem;
// $fontTitle: "Dancing Script", cursive;
$fontBody: "Roboto", sans-serif;
